export YSYX_HOME=/home/glowingcurve/nemu-dev-root
export NEMU_HOME=/home/glowingcurve/nemu-dev-root/nemu
export AM_HOME=/home/glowingcurve/nemu-dev-root/abstract-machine
export MICROBENCH=/home/glowingcurve/nemu-dev-root/microbench
